<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for track <- @tracks do %>
    <tr>
      <td><%= track.name %></td>
    </tr>
<% end %>
  </tbody>
</table>
