<table class="table">
  <thead>
    <tr>
      <th>Palestra:</th>

      <th>Duração: </th>
    </tr>
  </thead>
  <tbody>
<%= for speech <- @speeches do %>
    <tr>
      <td><%= speech.title %></td><td><%= speech.duration %></td>
    </tr>
<% end %>
  </tbody>
</table>
