<table class="table">
  <thead>
    <tr>
      <th>Palestra:</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for speech <- @speeches do %>
    <tr>
      <td><%= speech %></td>
    </tr>
<% end %>
  </tbody>
</table>
